rust-consumer/target
rust-gateway/target
rust-consumer/rust-consumer
rust-gateway/rust-gateway
go-consumer/go-consumer
node-consumer/node_modules
node-producer/node_modules
node-consumer/src/consume.js
node-producer/src/produce.js
php-consumer/vendor
kotlin-consumer/kotlin-consumer-1.0-SNAPSHOT.jar
kotlin-consumer/kotlin-consumer-1.0-SNAPSHOT-all.jar
kotlin-consumer/build
kotlin-consumer/.idea
kotlin-consumer/.gradle